.card-title {
    font-size: 1.75rem;
    font-weight: bold;
  }
  
  .card-img-top {
    max-height: 400px;
    object-fit: cover;
  }
  
  .list-group-item {
    font-size: 1rem;
    padding: 10px 15px;
  }
  
  .card-footer {
    background-color: #f8f9fa;
  }
  .contact-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .contact-buttons button {
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    font-size: 18px;
  }
  
  .contact-buttons .btn-whatsapp {
    background-color: #25D366; /* Couleur WhatsApp */
  }
  
  .contact-buttons .btn-message {
    background-color: #00AEEF; /* Couleur des messages */
  }
  
  .contact-buttons .btn-call {
    background-color: #007bff; /* Couleur du bouton Appel */
    border-radius: 20px; /* Arrondir les bords du bouton "Demander le prix" */
    width: auto;
    padding: 10px 20px; /* Espacement autour du texte */
    height: auto;
  }
  
  .contact-buttons .btn-call i {
    margin-right: 10px; /* Espacement entre l'icône et le texte */
  }
  .image-container {
    display: flex;
    flex-direction: row; /* Display images in a row */
    gap: 10px; /* Adjust the spacing between images */
    overflow-x: auto; /* Add horizontal scroll if there are too many images */
    align-items: center; /* Align images vertically */
  }
  
  .image-item img {
    max-width: 100%; /* Ensure the image fits within its container */
    height: auto;
    border-radius: 8px; /* Optional: Add some border-radius to images */
    object-fit: cover; /* Ensure the image covers its container */
  }
  
  .img-fluid {
    max-height: 250px;
    object-fit: cover;
  }
  
  .row .col-12 img {
    max-height: 500px;
  }
  
  .card-body {
    text-align: center;
  }
  
  button.btn {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  