<div *ngIf="ad" class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-12 mb-2">
          <img [src]="ad.imageSrcList[0]" alt="Image de {{ ad.title }}" class="img-fluid" />
        </div>
        <div class="col-6" *ngFor="let imageSrc of ad.imageSrcList.slice(1, 4)">
          <img [src]="imageSrc" alt="Image de {{ ad.title }}" class="img-fluid" />
        </div>
      </div>
    </div>

    <!-- Informations de l'annonce -->
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ ad.title }}</h5>
          <p>{{ ad.ville }} • {{ ad.year }} • {{ ad.km }} km • {{ ad.carburant }}</p>
          <h3 class="text-primary">{{ ad.price | currency }}</h3>

          <!-- Boutons d'action -->
          <button class="btn btn-primary w-100 mb-2" >Envoyer un message</button>
          <button class="btn btn-outline-primary w-100" (click)="openPhoneModal()">Voir le numéro</button>
        </div>
      </div>
    </div>
  </div>
</div>
